# ================================
# Основные настройки приложения
# ================================
APP_NAME = "Post-Master-Bot"
DEBUG = False

# ================================
# Основной сервер
# host = "0.0.0.0" — слушает все интерфейсы (в т.ч. LAN)
# ================================
HOST = "0.0.0.0"
PORT = 8050

# ================================
# Основные настройки telegram-bot
# ================================
TELEGRAM_BOT_TOKEN = "your-telegram-bot-token"
CHAT_ID = "your-chat-id"

# ================================
# Настройки Email (IMAP IDLE)
# ================================
# gmail
IMAP_SERVER_GMAIL = "imap.gmail.com"
IMAP_PORT_GMAIL = 993
IMAP_USERNAME_GMAIL = "your-gmail-username"
IMAP_PASSWORD_GMAIL = "your-gmail-password"
IMAP_USE_SSL_GMAIL = True

# yandex
IMAP_SERVER_YANDEX = "imap.yandex.ru"
IMAP_PORT_YANDEX = 993
IMAP_USERNAME_YANDEX = "your-yandex-username"
IMAP_PASSWORD_YANDEX = "your-yandex-password"
IMAP_USE_SSL_YANDEX = True