# ================================
# Основные настройки приложения
# ================================
APP_NAME = "Post-Master-Bot"
DEBUG = False

# ================================
# Основной сервер
# host = "0.0.0.0" — слушает все интерфейсы (в т.ч. LAN)
# ================================
HOST = "0.0.0.0"
PORT = 8050

# ================================
# Основные настройки telegram-bot
# ================================
TELEGRAM_BOT_TOKEN = "your-telegram-bot-token"
CHAT_ID = "your-chat-id"

# ================================
# Настройки Email
# ================================
# gmail
smtp_server_gmail = "smtp.gmail.com"
smtp_port_gmail = 465
smtp_username_gmail = "your-gmail-username"
smtp_password_gmail = "your-gmail-password"
smtp_use_tls_gmail = True

smtp_server_yandex = "smtp.yandex.ru"
smtp_port_yandex = 465
smtp_username_yandex = "your-yandex-password"
smtp_password_yandex = "your-yandex-password"
smtp_use_tls_yandex = True